/*###################################*/
/*######  VARIABLES COULEUR   #######*/
/*###################################*/
/*###################################*/
/*######    VARIABLES CARD    #######*/
/*###################################*/
/*############################################*/
/*########  ANIMATION BLOC SELECTION ########*/
/*###########################################*/
/* RAPPEL ordre:
div {
  transition: <property> <duration> <timing-function> <delay>;
}*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@keyframes affichage-progressive {
  30% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.animation__entrees--first {
  opacity: 0;
  animation: affichage-progressive 2000ms 0ms ease-out forwards;
}
.animation__entrees--second {
  opacity: 0;
  animation: affichage-progressive 2000ms 200ms ease-out forwards;
}
.animation__entrees--third {
  opacity: 0;
  animation: affichage-progressive 2000ms 400ms ease-out forwards;
}
.animation__entrees--fourth {
  opacity: 0;
  animation: affichage-progressive 2000ms 600ms ease-out forwards;
}

.animation__plats--first {
  opacity: 0;
  animation: affichage-progressive 2000ms 1000ms ease-out forwards;
}
.animation__plats--second {
  opacity: 0;
  animation: affichage-progressive 2000ms 1200ms ease-out forwards;
}
.animation__plats--third {
  opacity: 0;
  animation: affichage-progressive 2000ms 1400ms ease-out forwards;
}
.animation__plats--fourth {
  opacity: 0;
  animation: affichage-progressive 2000ms 1600ms ease-out forwards;
}

.animation__desserts--first {
  opacity: 0;
  animation: affichage-progressive 2000ms 2000ms ease-out forwards;
}
.animation__desserts--second {
  opacity: 0;
  animation: affichage-progressive 2000ms 2200ms ease-out forwards;
}
.animation__desserts--third {
  opacity: 0;
  animation: affichage-progressive 2000ms 2400ms ease-out forwards;
}
.animation__desserts--fourth {
  opacity: 0;
  animation: affichage-progressive 2000ms 2600ms ease-out forwards;
}

/*###################################*/
/*########  ANIMATION CHECK  ########*/
/*###################################*/
@keyframes check-valid-rotate {
  0% {
    transform: rotate(-180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes check-valid-extand {
  0% {
    width: 0px;
    margin-left: 20px;
  }
  100% {
    width: 60px;
    margin-left: 10px;
  }
}
.selection:hover .menu-bloc-check {
  animation: check-valid-extand 1000ms forwards;
}

.selection:hover .check-icone {
  animation: check-valid-rotate 1000ms forwards;
}

/*###################################*/
/*########  ANIMATION HEART  ########*/
/*###################################*/
@keyframes no-opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes get-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*###################################*/
/*########  LOADING PAGE     ########*/
/*###################################*/
@keyframes load-spinner {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes load {
  0% {
    color: #9356DC;
    transform: scale(1);
  }
  50% {
    color: #DD79DA;
    transform: scale(2);
  }
  100% {
    color: #9356DC;
    transform: scale(1);
  }
}
@keyframes go-away {
  0% {
    transform: translatex(0);
  }
  100% {
    transform: translatex(100%);
  }
}
@keyframes no-scroll {
  0% {
    overflow-y: hidden;
  }
  99% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}
.no-scroll {
  animation: no-scroll 2s;
}

.loading {
  animation: go-away 0s 2s forwards;
}

.spinner {
  animation: load-spinner 2s ease-in-out;
}

.load-icone__1 {
  animation: load 1s ease-in-out forwards;
}

.load-icone__2 {
  animation: load 1s 0.5s ease-in-out forwards;
}

.load-icone__3 {
  animation: load 1s 1s ease-in-out forwards;
}

.load-icone__4 {
  animation: load 1s 1.5s ease-in-out forwards;
}

/*###################################*/
/*#########   GOOGLE FONT  ##########*/
/*###################################*/
p, h2, h3, strong, li {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

/*###################################*/
/*#########   BOX-SIZING  ###########*/
/*###################################*/
* {
  /* Ici avec "*" signifie toute les classes */
  box-sizing: border-box;
  /*OPERA/IE 8+ */
  -moz-box-sizing: border-box;
  /* Mozila, auter Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/chrome, autre webkit */
}

/*###################################*/
/*#########    GENERAL    ###########*/
/*###################################*/
body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

@media screen and (min-width: 1224px) {
  .max-size-desktop {
    width: 1225px;
  }
}
/*###################################*/
/*#########   Header      ###########*/
/*###################################*/
header {
  height: 60px;
  width: 100%;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
}
header .logo {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 1;
}
header img {
  margin-top: 15px;
  margin-bottom: 15px;
  height: auto;
  width: auto;
}
header a {
  display: flex;
  align-items: center;
  z-index: 2;
  width: 0%;
}
header i {
  font-size: 20px;
}

@media screen and (min-width: 1224px) {
  header {
    height: auto;
  }
}
/*###################################*/
/*###########  FOOTER    ############*/
/*###################################*/
.footer {
  background-color: #353535;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
}
.footer__title {
  color: white;
  font-family: "Shrikhand";
  margin: 0;
  padding-bottom: 20px;
}
.footer a {
  color: white;
}
.footer ul {
  list-style-type: none;
  /* enleve poitn de la liste */
  padding: 0;
  margin: 0;
}
.footer li {
  padding-bottom: 10px;
}

.restaurant-icone {
  font-size: 14px;
  padding-right: 5px;
}

.partner-icone {
  font-size: 10px;
  padding-right: 5px;
}

@media screen and (min-width: 1224px) {
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
.like__btn {
  height: 25px;
  width: 25px;
}
.like__btn .heart {
  font-size: 25px;
}
.like__btn .heart__empty {
  opacity: 1;
  position: relative;
  top: 0;
  font-weight: 300;
}
.like__btn .heart__full {
  opacity: 0;
  position: relative;
  top: -26px;
  background: linear-gradient(#DD79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

label {
  cursor: pointer;
}

#like {
  display: none;
}

#like:checked + label .heart__empty {
  animation: no-opacity 200ms forwards;
}

#like:checked + label .heart__full {
  animation: get-opacity 400ms 100ms forwards;
}

/*###################################*/
/*#####  like__btn accueil  #########*/
/*###################################*/
#like__la-palettte-du-gout {
  display: none;
}

#like__la-palettte-du-gout:checked + label .heart__empty {
  animation: no-opacity 200ms forwards;
}

#like__la-palettte-du-gout:checked + label .heart__full {
  animation: get-opacity 400ms 100ms forwards;
}

#like__la-note-enchantee {
  display: none;
}

#like__la-note-enchantee:checked + label .heart__empty {
  animation: no-opacity 200ms forwards;
}

#like__la-note-enchantee:checked + label .heart__full {
  animation: get-opacity 400ms 100ms forwards;
}

#like__a-la-francaise {
  display: none;
}

#like__a-la-francaise:checked + label .heart__empty {
  animation: no-opacity 200ms forwards;
}

#like__a-la-francaise:checked + label .heart__full {
  animation: get-opacity 400ms 100ms forwards;
}

#like__les-delices-des-sens {
  display: none;
}

#like__les-delices-des-sens:checked + label .heart__empty {
  animation: no-opacity 200ms forwards;
}

#like__les-delices-des-sens:checked + label .heart__full {
  animation: get-opacity 400ms 100ms forwards;
}

.btn {
  cursor: pointer;
  height: 50px;
  border-radius: 50px;
  color: white;
  border: none;
  margin-top: 15px;
  font-family: "Roboto";
  background: linear-gradient(#DD79DA, #9356DC);
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.btn:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  filter: brightness(1.1);
}

/*###################################*/
/*######  LOADING PAGE        #######*/
/*###################################*/
.loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: white;
}
.loading .spinner {
  position: absolute;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 3px solid #9356DC;
  border-bottom: 3px solid #DD79DA;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-radius: 125px;
}
.loading p {
  font-family: "Shrikhand";
}
.loading .load-icone {
  margin: 15px;
  color: #9356DC;
}

/*###################################*/
/*#########   Header  ###########*/
/*###################################*/
/*###################################*/
/*#####  Section 1 Position #########*/
/*###################################*/
.position {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2) inset;
}
.position__icone {
  position: relative;
  right: 20px;
  font-size: 18px;
}
.position__ville {
  margin: 0;
  font-weight: normal;
  font-size: 15px;
}

/*###################################*/
/*##  Section 2 restaurantSearrch  ##*/
/*###################################*/
.restaurantSearch {
  width: 100%;
  height: 288px;
  padding-top: 40px;
  text-align: center;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.restaurantSearch__btn {
  width: 220px;
}
.restaurantSearch h1 {
  width: 75%;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 24px;
  margin: 0;
}
.restaurantSearch p {
  font-weight: 300;
  width: 80%;
}

/*###################################*/
/*####  SECTION 3 FONCTIONNING  #####*/
/*###################################*/
.fonctionning {
  height: 375px;
}
.fonctionning__title {
  margin-top: 45px;
  margin-bottom: 32px;
  margin-left: 18px;
}

.bloc {
  height: 75px;
  margin-left: 30px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  background: #f6f6f6;
  cursor: pointer;
  display: flex;
  align-items: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.bloc:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
  background: #f2edff;
}
.bloc:hover .bloc__icone {
  color: #9356DC;
}
.bloc__numero {
  background-color: #9356DC;
  color: white;
  height: 25px;
  width: 25px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
  font-size: 14px;
}
.bloc__icone {
  margin-left: 25px;
  margin-right: 25px;
  font-size: 20px;
  color: #8f8c8c;
}
.bloc__icone--size {
  font-size: 15px;
  margin-left: 23px;
  margin-right: 24px;
}

/*###################################*/
/*####  SECTION 4 Restaurant    #####*/
/*###################################*/
.restaurant {
  background: #f6f6f6;
  padding-bottom: 45px;
  padding-left: 20px;
  padding-right: 20px;
}
.restaurant__title {
  padding-top: 55px;
  padding-bottom: 2px;
}

.card {
  height: 252px;
  width: 100%;
  margin-bottom: 18px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.card:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.card__fill {
  height: 175px;
}
.card__fill .ancrage-gauche {
  display: flex;
  justify-content: flex-end;
  position: relative;
  top: -96%;
  right: 12px;
}
.card__fill__new {
  width: 80px;
  height: 28px;
  background: #99E2D0;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card__fill__new p {
  font-size: 14px;
  margin: 0;
  color: #278870;
}
.card__fill img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.card__body {
  display: flex;
  justify-content: space-between;
  height: 77px;
  align-items: center;
  margin-left: 10px;
  margin-right: 10px;
}
.card__body h3 {
  margin: 0;
  padding-bottom: 5px;
  font-weight: 500;
}
.card__body p {
  margin: 0;
  font-weight: 300;
}

/*###################################*/
/*###########  FOOTER    ############*/
/*###################################*/
/*###################################*/
/*##########    DESKTOP   ###########*/
/*###################################*/
@media screen and (min-width: 1224px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .restaurantSearch {
    height: auto;
    padding-bottom: 40px;
  }

  .fonctionning {
    height: auto;
    margin-bottom: 45px;
  }

  .responsive {
    display: flex;
    justify-content: center;
  }

  .bloc {
    width: 28%;
  }

  .restaurant {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .restaurant--flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
  .restaurant--flex .card {
    width: 45%;
    margin-bottom: 20px;
  }

  .card {
    height: 350px;
    width: 100%;
  }
  .card__fill {
    height: 273px;
  }
  .card__fill__new {
    left: 82%;
  }
}
/*###################################*/
/*##########   TABLETTE   ###########*/
/*###################################*/
@media screen and (min-width: 768px) and (max-width: 1224px) {
  .restaurantSearch {
    height: auto;
    padding-bottom: 40px;
  }

  .responsive {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bloc {
    width: 70%;
  }
}
/*###################################*/
/*#####        HEADER       #########*/
/*###################################*/
/*###################################*/
/*## Section 1 Restaurant picture  ##*/
/*###################################*/
.restaurant-picture {
  position: relative;
  z-index: 1;
  width: 100%;
  height: auto;
}
.restaurant-picture img {
  object-fit: cover;
  height: 275px;
  width: 100%;
}

/*###################################*/
/*#### Section 2 Restaurant MENU ####*/
/*###################################*/
.restaurant-menu {
  position: relative;
  z-index: 2;
  margin-top: -57px;
  width: 100%;
  height: auto;
  padding-top: 32px;
  padding-bottom: 75px;
  background-color: #f6f6f6;
  border-radius: 40px 40px 0px 0px;
}

.restaurant__name {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 18px;
  margin-right: 18px;
}
.restaurant__name h1 {
  font-family: "Shrikhand";
  font-size: 29px;
  margin: 0px;
}

.menu__title {
  margin-top: 35px;
  margin-bottom: 15px;
  margin-left: 18px;
  margin-right: 18px;
}
.menu__title h2 {
  font-weight: 300;
  font-size: 16px;
  margin: 0;
}
.menu__title--border {
  border-bottom: 3px solid #99E2D0;
  width: 40px;
  padding-bottom: 6px;
}

.selection {
  cursor: pointer;
  height: 70px;
  margin-bottom: 14px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: white;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.selection:hover {
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.5);
}

.menu-bloc {
  height: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
}
.menu-bloc__title {
  margin: 0px;
  font-weight: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.menu-bloc__description {
  margin: 0px;
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.menu-bloc__translate {
  height: 100%;
  display: flex;
  align-items: flex-end;
}
.menu-bloc__translate .price {
  margin: 0;
  padding-bottom: 8px;
  font-weight: normal;
}
.menu-bloc__translate .menu-bloc-check {
  height: 100%;
  width: 0px;
  display: flex;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #99E2D0;
}
.menu-bloc__translate .menu-bloc-check .check-icone {
  font-size: 22px;
}

.position-center {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.position-center .btn--commande {
  width: 190px;
}

/*####################################*/
/*##########    FOOTER    ###########*/
/*###################################*/
/*####################################*/
/*##########    DESKTOP   ###########*/
/*###################################*/
@media screen and (min-width: 1224px) {
  .body {
    display: flex;
  }

  .restaurant-picture img {
    height: 600px;
  }

  .restaurant-menu {
    display: flex;
    justify-content: center;
    border-radius: 0px;
  }
  .restaurant-menu .max-size-desktop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .restaurant-menu .restaurant__name {
    width: 100%;
  }
  .restaurant-menu .menu-responsive {
    width: 33%;
  }
}
/*###################################*/
/*##########   TABLETTE   ###########*/
/*###################################*/
@media screen and (min-width: 768px) and (max-width: 1224px) {
  .restaurant-picture img {
    height: 450px;
  }

  .menu-responsive {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu {
    width: 70%;
  }
}
/*  PROJET EN MOBILE FIRST */

/*# sourceMappingURL=style.css.map */
