/*###################################*/
/*###########  FOOTER    ############*/
/*###################################*/

.footer{
  background-color: rgb(53, 53, 53);
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 22px;
    &__title{
      color: white;
      font-family: "Shrikhand";
      margin: 0;
      padding-bottom: 20px;
    }
  a{
    color: white;
  }
  ul{
    list-style-type: none;      /* enleve poitn de la liste */
    padding: 0;
    margin: 0;
  }
  li{
    padding-bottom: 10px;
  }
}

.restaurant-icone{
  font-size: 14px;
  padding-right: 5px;
}
.partner-icone{
  font-size: 10px;
  padding-right: 5px;
}

@media screen and (min-width : 1224px){

  footer{
    width: 100%;
    display: flex;
    justify-content: center;
  }
}