/*###################################*/
/*#########   GOOGLE FONT  ##########*/
/*###################################*/

// police: Roboto
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


// police: Shirkhand

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// DECLARATION POLICE

p, h2, h3, strong, li{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}


/*###################################*/
/*#########   BOX-SIZING  ###########*/
/*###################################*/

*{                              /* Ici avec "*" signifie toute les classes */
    box-sizing: border-box;     /*OPERA/IE 8+ */
    -moz-box-sizing: border-box;  /* Mozila, auter Gecko */
    -webkit-box-sizing: border-box;  /* Safari/chrome, autre webkit */
  
  }

/*###################################*/
/*#########    GENERAL    ###########*/
/*###################################*/
  
body{
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; // empeche la posibilité slidé vers la droite où se trouve le load spinner
}

a{
  text-decoration: none;
  color: black;
}

@media screen and (min-width : 1224px){

.max-size-desktop{      // defini une taille max qui ce fera centrer par le body
  width: 1225px;
}

}