$color-background-primary: rgb(246, 246, 246); // gris léger
$color-background-secondary: rgb(242, 237, 255); // violet léger

$color-primary: #9356DC;
$color-secondary: #DD79DA;  //violet claire
$color-tertiary: #99E2D0;  // vert mate 

$color-background-gradient: ($color-secondary, $color-primary); // dégradé de $1 a $2