// si je veux pousser 
$a-la-francaise:(
  //entree:(
  tartare-de-poulpe-acidule,
  veloute-de-legumes-dantan,
  soupe-a-loignon,
  //plats:(
  coquilles-saint-jacques,
  marget-de-canard,
  pigeonneau-dille-et-vilaine,
  //desserts:(
  petale-deviolettes-glaces,
  fondant-au-chocolat,
  millefeuille-croustillant

);

 
@each $var in $a-la-francaise{
  #add__#{$var}{
    display: none;
  }
  #add__#{$var}:checked ~label .menu-bloc__translate{
    animation: check-valid-translate 1000ms forwards;
  }
  #add__#{$var}:checked ~ label .rotate{
    animation: check-valid-rotate 1000ms forwards;
  }
}

// fin  


//base du code 

// rappel : ~ Le combinateur '~' permet de sélectionner les nœuds qui suivent un élément et qui ont le même parent.
#add:checked ~ label .menu-bloc__translate{
  animation: check-valid-translate 1000ms forwards;
}
#add:checked ~ label .rotate{
  animation: check-valid-rotate 1000ms forwards;
}

/*###################################*/
/*######  LOADING PAGE        #######*/
/*###################################*/

/*.loading{    //mettre position et le faire translate de 100%
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: white; 
  animation: go-away 0s 2s forwards;
}
*/


.texteu{
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  .redone{
    background-color: red;
    height: 20px;
    min-width: 60px;
  }
  .heu{    
  background-color: blue;   // ok marche
  overflow: hidden;
 
    p{
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}  