/*############################################*/
/*########  ANIMATION BLOC SELECTION ########*/
/*###########################################*/
/* RAPPEL ordre:
div {
  transition: <property> <duration> <timing-function> <delay>;
}*/

// affichage avec delay 

@keyframes affichage-progressive{
  0%{
    
  }
  30%{
    opacity: 0;
    transform: translateY(20px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}


$duration-animation-selection:2000ms;
$delay-animation:200ms;

$delay-list:(
entrees: 0ms,
plats: 1000ms,
desserts: 2000ms
);

$i:1;

@each $key, $value in $delay-list {
  .animation__#{$key}{
    &--first{
      opacity: 0;
    animation: affichage-progressive $duration-animation-selection $value ease-out forwards; // east-out ralentissement en fin
    }
    &--second{
      opacity: 0;
    animation: affichage-progressive $duration-animation-selection ($delay-animation + $value) ease-out forwards;  // forwards garde laspect de fin d'animation
    }
    &--third{
      opacity: 0;
      animation: affichage-progressive $duration-animation-selection (($delay-animation *2)+ $value) ease-out forwards;
    }
    &--fourth{
      opacity: 0;
      animation: affichage-progressive $duration-animation-selection (($delay-animation *3)+ $value) ease-out forwards;
    }
  } 
  $i: $i + 1 ;
}




/*###################################*/
/*########  ANIMATION CHECK  ########*/
/*###################################*/


@keyframes  check-valid-rotate{
  0%{
    transform: rotate(-180deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes check-valid-extand{  
  0%{                              
    width: 0px;
    margin-left: 20px;
  }
  100%{
   width: 60px;
   margin-left: 10px;
  }
}

.selection:hover  .menu-bloc-check{
animation: check-valid-extand 1000ms forwards; 
}
.selection:hover .check-icone{
animation: check-valid-rotate 1000ms forwards;
}


/*###################################*/
/*########  ANIMATION HEART  ########*/
/*###################################*/

@keyframes no-opacity{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@keyframes get-opacity {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  
}



/*###################################*/
/*########  LOADING PAGE     ########*/
/*###################################*/

@keyframes load-spinner{
  0%{
    transform: rotate(0);
  }
  100%{
    transform: rotate(360deg);
  }
}


@keyframes load{
  0%{
    color: $color-primary;
    transform: scale(1);
  }
  50%{
    color: $color-secondary;
    transform: scale(2);
  }
  100%{
    color: $color-primary;
    transform: scale(1);
  }
}

@keyframes go-away{
  0%{
    transform: translatex(0);
  }
  100%{
    transform: translatex(100%);
  }
}

@keyframes no-scroll{  // a voir si on peut faire mieux
  0%{
    overflow-y: hidden;
  }
  99%{
    overflow-y: hidden;
  }
  100%{
    overflow-y: auto;
  }
}
.no-scroll{
  animation: no-scroll 2s;
}


.loading{
  animation: go-away 0s 2s forwards;
}

.spinner{
  animation: load-spinner 2s ease-in-out;
}

.load-icone__1{
animation: load 1s ease-in-out forwards;
}

.load-icone__2{
  animation: load 1s 0.5s ease-in-out forwards;
}

.load-icone__3{
  animation: load 1s 1s ease-in-out forwards;
}

.load-icone__4{
  animation: load 1s 1.5s ease-in-out forwards;
}

