@import "./utils/variables";
@import "./utils/functions";
@import "./utils/mixins";
@import "./utils/animations";
@import "./layout/form";   // layout; agencement des elements
@import "./layout/header";
@import "./layout/footer";
@import "./layout/likebtn";
@import "./pages/accueil";
@import "./pages/a-la-francaise";

@import"./pages/try";



/*  PROJET EN MOBILE FIRST */

.btn{   // base du bouton utilisé dans toutes les pages
  height:50px;
  border-radius: 50px;
  color: white;
  border: none;
  margin-top: 15px;
  font-family: "Roboto";
  @include background-gradient;
  @include shadow-border;
    &:hover{
      @include shadow-border-hover;
    }
}